@{
    ViewBag.Title = "Ucp App - Главная";
}

<div class="jumbotron text-center">
    <p>Здесь ничего нет.</p> 
    <p>Ну, разве что, кроме @Html.ActionLink("пользователей", "Index", "Users") и @Html.ActionLink("компаний", "Index", "Companies"), 
        которым они принадлежат.</p>
</div>
