@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Ошибка";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">Ой! Кажется, что-то пошло не так и запрос не выполнился.</h2>
<p class="text-muted">Попробуйте перезагрузить страницу или вернуться назад.</p>

