@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Страница не найдена";
}


<h1 class="text-muted">Страница не найдена</h1>
<h2 class="text-muted">Эта страница, похоже, была похищена НЛО. Извините. <=(</h2>
<a href="/">Вернуться на главную</a>